header {
    background: #ddffd1;
}

.navlinks a {
    color: #221b1b;
} 
a:hover {
    color: #5e3018;
}

.reviews {
    color: #3ecf00;
}

.blockquete {
    background: #ddffd1;
}

.cooon {
    color: #5e3018;
}

footer {
    color: #5e3018;
    background: #ddffd1;
    padding: 30px;
    text-align: right;
}
